.app {
  display: flex;
  gap: 5rem;
}

.todo-list {
  width: 25rem;
}

img {
  margin-top: 2rem;
  width: 25rem;
  height: 100%;
  border-radius: 8px;
}

input {
  padding: 0.5em 1em;
  border: 1px solid #1a1a1a;
  border-radius: 8px;
  font-size: 1em;
}

ul {
  padding-inline-start: 1em;
}

ul li,
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  list-style: none;
}
